<div class="card">
  <h1>Sign Up</h1>

  <% if @user.errors.any? %>
    <div class="error-box">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with model: @user, url: signup_path do |f| %>
    <p>
      <%= f.label :username %><br>
      <%= f.text_field :username %>
    </p>

    <p>
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </p>

    <p>
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation %>
    </p>

    <p>
      <%= f.submit "Create Account", class: "btn" %>
    </p>
  <% end %>
</div>